* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    color: #ffffff;
    background-color: #282828;
    opacity: 1;
    
    /*border: 2px solid #b8bb26;*/
    border-radius: 10px;
    
    
}


tooltip {
    background: #282828;
    opacity: 1;
    border-radius: 10px;
    
    
}

tooltip label{
    color: white;
}



#workspaces button {
    
    color: white;
    
}

#workspaces button.active {
    color: #ffffff;
    border: 1px solid #b8bb26;
    border-radius: 5px;
    opacity: 0.8;
    
}

#workspaces button.focused {
    color: #ffffff;
    background: #eba0ac;
}

#workspaces button.urgent {
    color: #11111b;
    background: #d9ff00;
}

#workspaces button:hover {
    color: #ffffff;
    border: 1px solid #fabd2f;
    border-radius: 5px;
    

}

#custom-launch_wofi,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#network,
#tray,
#temperature,
#workspaces,
#backlight {
    opacity: 1;
    
}

#cpu {
    padding-bottom: 20px;
}

#disk {
    padding-bottom: 20px;
}

#memory {
    padding-bottom: 20px;
}

#battery {
    padding-bottom: 20px;
    padding-left: 2px;
}

#backlight {
    padding-bottom: 10px;
    padding-right: 4px;
}



#tray {
    
    padding-bottom: 20px;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

#pulseaudio {
  font-size: 14;
  padding-bottom: 12px;
  padding-right: 3px;
}

#clock {
    font-size: 14;
    margin-left: 9px;
    padding-top: 10px;


}

#custom-launch_calendar {
    padding-bottom: 20px;
    padding-left: 6px;
}

#custom-launch_volume {
    padding-bottom: 20px;
    padding-right: 3px;
}

#temperature.critical {
    color: rgb(255, 0, 0);
}




#window {
    margin-left: 8px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-size: 16;
    

}

/*#custom-launch_wofi {
    color: white;
    margin-right: 0px;
    margin-bottom: 0px;
    font-size: 16;
    
    border: 1px solid #b8bb26;
    border-radius: 10px;


    animation-name: colores;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: normal;
} */

@keyframes colores {
    0% {
        color: #49c249;
    }


    33% {
        color: #d369d3;
    }

    66% {
        color: #d31b1b;
    }

    100% {
        color: #49c249;
    }


}

